@import "tailwindcss";

* {
  font-family: "Exo", sans-serif;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  background: #07275a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #60a5fa;
  border-radius: 4px;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #60a5fa #07275a;
}

.Demo__container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 30px);
  max-width: 400px;
  margin: 0 auto;
}

.Demo__some-network {
  text-align: center;
}

.Demo__some-network__share-count {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  overflow: visible;
  width: 0;
  font-size: 14px;
}

.Demo__some-network__share-button {
  cursor: pointer;
}

.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}
